.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tarefa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.finalizado {
  display: none;
}

.App button {
  display: inline;
  flex-direction: row;
}

.linha {
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.linha h5 {
  display: inline;
  margin-right: 20px;
}